.panda-bg-info{
    background-color: blanchedalmond;
}
.catagories img{
    width: 100px;
}
.panda-btn-buy{
    color: white; 
    padding: 9px 25px;
    background-image: linear-gradient(to bottom,#FF589B 0%,#ff4b92 100%);
    border-radius: 8px;
    border: none;

}